
.navbar{
    display: flex;
    justify-content: space-between;
    margin:  0px 60px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px;
    
}

.nav__links{
    display: flex;
    justify-content: space-between;
    width: 700px;
    
    font-size: 15px;

}



