.pay__attention{

    border: 1px solid gray;
    border-radius: 8px;
}


.card__header {
    display: flex;
    align-items: center;
    gap : 10px;
    padding: 10px 18px;
    border-bottom: 1px solid gray;
    



}

.card__header h2{
    font-size: 20px;
    font-weight: bold;
    color :#3B5998;
}